body{
    margin: 0;
    padding: 0;
    background-color: #E0E0E0;
}

header{
    font-family: "Saira Stencil", sans-serif;
    background-image: url(../img/backgroundheder.600_400.png);
    background-size: cover;
    margin: 0 ;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 0;
    text-align: center;
    color: rgb(142, 23, 142);
    
}

nav{
    font-family: "Saira Stencil", sans-serif;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    background-color: violet;
    height:  auto;
    
    
}

nav > ul.meniu{
    display: flex;
    margin: 0;
    padding: 0;
    
}

nav > ul.meniu > li{
    list-style: none;
    flex: 1;
    padding: 10px 15px;
    border:2px solid purple;
    text-align: center;
    color: white;
    position: relative;

}

nav > ul.meniu > li >a{
    color: white;
    text-decoration: none;
    
}

nav > ul.meniu > li > ul.submeniu{
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav > ul.meniu > li:hover, .activ{
    background-color: purple;
}
/*subemniu*/
ul.meniu > li:hover > ul.submeniu{
    display: block;
    position: absolute;
    margin-top: 11px; 
    background-color: violet;
    width: 100%;
    left: 0;
    
}

ul.submeniu > li:hover{
    background-color: purple;
    left: 0;
}

ul.submeniu > li{
    border: 2px solid purple;
    padding: 5px;
}

ul.submeniu > li > a{
    text-decoration: none;
    color: white;
   
}

.meniu a {
    display: block;
}